.production
    padding: 
        top: 87px
        bottom: 90px
    &-slider
        &_top
            margin-bottom: 13px
            height: 377px
            overflow-y: hidden
        &_bottom
            padding-left: 30px
            padding-right: 30px
            height: 78px
            overflow-y: hidden
            img
                margin: 0 6px