body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 29px;
}

.section-title::after {
  content: '';
  margin-top: 12px;
  display: block;
  height: 6px;
  background: url(../img/line.png) center no-repeat;
}

.button {
  font-size: 14px;
  background-color: #fd9c28;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px;
}

.button:hover {
  background-color: #fda841;
  cursor: pointer;
}

.button-o {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-o:hover {
  background-color: #fda841;
  color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_big {
  padding-top: 19px;
  padding-bottom: 19px;
  vertical-align: middle;
}

.slider-arrow {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 22px;
}

.slider-arrow_prod {
  border: 1px solid #fd9c28;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider-arrow_right {
  right: 0;
  background: #fff url(../img/arrow-right.png) center no-repeat;
}

.slider-arrow_right:hover {
  background: #fd9c28 url(../img/arrow-right_active.png) center no-repeat;
}

.slider-arrow_left {
  left: 0;
  background: #fff url(../img/arrow-left.png) center no-repeat;
}

.slider-arrow_left:hover {
  background: #fd9c28 url(../img/arrow-left_active.png) center no-repeat;
}

.dark-bg {
  position: relative;
  z-index: 2;
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header {
  padding: 15px 0px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

@-webkit-keyframes move {
  from {
    opacity: 0;
    margin-bottom: -100px;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes move {
  from {
    opacity: 0;
    margin-bottom: -100px;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.main {
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/main_bg.png) center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.main-text__title {
  margin-bottom: 20px;
  font-size: 41px;
  font-weight: 700;
}

.main-text__subtitle {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 27px;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  margin-bottom: 20px;
  padding-right: 107px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
}

.form__input {
  margin-right: 10px;
  font-size: 14px;
  padding: 20px;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
  width: 100%;
  max-width: 365px;
}

.form-small {
  font-size: 14px;
  font-weight: 300;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  line-height: 71px;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.overlay .popup-form {
  background: url(../img/modal-bg1.png) center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
}

.overlay .popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.overlay .popup-form-header span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.overlay .popup-form__input {
  width: 365px;
  height: 56px;
  margin-top: 17px;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #ff9d00;
}

.overlay .popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 55px;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  background-color: #fff;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.features-block__img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 9px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 400;
}

.numbers {
  margin-bottom: 37px;
  text-align: center;
}

.numbers-block {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 980;
  color: #fd9c28;
}

.numbers-block__title sup {
  font-size: 17px;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 300;
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-img {
  height: 314px;
}

.products-block {
  margin-bottom: 25px;
  text-align: center;
}

.products-block__img {
  margin-bottom: 19px;
}

.products-block__title {
  margin-bottom: 28px;
  font-style: 20px;
  font-weight: 700;
}

.products-block__button {
  margin-right: 12px;
}

.production {
  padding-top: 87px;
  padding-bottom: 90px;
}

.production-slider {
  position: relative;
  z-index: 2;
}

.production-slider_top {
  margin-bottom: 13px;
  height: 377px;
  overflow-y: hidden;
}

.production-slider_bottom {
  padding-left: 30px;
  padding-right: 30px;
  height: 78px;
  overflow-y: hidden;
}

.production-slider_bottom img {
  margin: 0 6px;
}

.production-text {
  max-width: 379px;
}

.production-text__title {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -10%;
  margin-top: 19px;
  margin-bottom: 28px;
  padding-left: 10%;
  width: 110%;
  z-index: -1;
  color: #ffffff;
  background-color: #fd9c28;
  font-size: 28px;
  font-weight: 300;
}

.production-text__descr {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.feedback {
  padding-top: 55px;
  padding-bottom: 66px;
  background-color: #f4f4f4;
}

.feedback-slider img {
  margin: 0 auto;
}

.offer {
  padding-top: 64px;
  padding-bottom: 59px;
  color: #ffffff;
  background: grey url(../img/offer/offer-bg.png) center no-repeat;
  background-size: cover;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 300;
}

.offer-title_small {
  font-size: 26px;
  display: block;
  margin-bottom: 20px;
}

.offer-form__label {
  display: block;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
}

.offer-form__input {
  display: block;
  margin: auto;
  margin-bottom: 12px;
}

.offer-form__button {
  margin-bottom: 9px;
}

.contacts {
  position: relative;
}

.contacts-block {
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: #fff;
  padding-top: 33px;
  padding-bottom: 39px;
  padding-left: 60px;
  padding-right: 34px;
}

.contacts-block__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}

.contacts-block__text {
  margin-bottom: 30px;
}

.map {
  width: 100%;
  height: 550px;
}
